<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.tree.mapper.BoardCommentMapper">
  	
  	<insert id="insert">
  		insert into board_comment values(bc_code_seq.nextval, #{username}, #{bc_content}, sysdate, #{b_code}, bc_code_seq.nextval, 0, 0 )
  	</insert>
  	
  	<select id="read" resultType="org.tree.domain.BoardCommentVO">
  		select bc_code, username, bc_content, TO_CHAR(bc_regdate, 'RRRR-MM-DD HH24:MI:SS') as "bc_regdate" , b_code, bc_ref, bc_step, bc_depth from board_comment where b_code = #{b_code} order by bc_ref desc, bc_step asc
  	</select>
  	
  	<delete id="delete">
  		delete from board_comment where bc_code = #{bc_code}
  	</delete>
  	
  	<update id="update">
  		update board_comment
  		set bc_content=#{bc_content}, bc_regdate = sysdate
  		where bc_code = #{bc_code}
  	
  	</update>
  	
  </mapper>